@import '../responsive';

main {
  width: 90%;
  margin: 35px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: end;

  @include lg {
    flex-direction: column;
  }

  .MuiCard-root {
    flex-basis: 30%;
    min-height: 364px;
    @include lg {
      flex-basis: 100%;
      width: 100%;
      min-height: 250px;
      margin-bottom: 20px;
    }
  }
}